<a href="https://colab.research.google.com/github/meghasyam/python/blob/master/2-flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [0]:
x = int(input("Enter a number: "))
y = int(input("Enter a number: "))
z = int(input("Enter a number: "))


if x>y and x >z:
  print( x," is greater")
elif y>x and y>z:  
  print( y," is greater")
else:
  print( z," is greater")

In [0]:
# R1 -100 to 0
# R2  1 to 100
# R3  101 to 200
#findrange(x)

x = int(input("enter a number"))

if x>=-100 and x<=0:
  print("R1")
elif x>=1 and x<=100:
  print("R2")
elif x>=100 and x<=200:
  print("R3")
else:
  print("not in any range")

In [0]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

for i in numbers:
  print(i)

In [0]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

sum = 0
for val in numbers:
	sum+=val
  
print("the sum is",sum)

In [0]:
print(range(10))

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 20, 3)))

In [0]:
genre = ['pop', 'rock', 'jazz']

for i in range(len(genre)): # 0,1,2
	print("I like", genre[i])

In [0]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

In [0]:
x=int(input("enter number"))

fact=1

for i in range(1,x+1):
  fact=fact*i

print(fact)

In [0]:
# *
# * *
# * * *
# * * * *

In [0]:
student_name = 'Jules'
marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    print("....",student)
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

In [0]:
student_name = 'Jules'
marks = {'James1': 90, 'Jules1': 55, 'Arthur1': 77,'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
      continue # skip the remaining lines of code 
    print("....",student)
else:
    print('No entry with that name found.')

In [0]:
# fibonacci & prime number programs

In [0]:
n =0 #initiliax out side of while

while n<=10: # condition
  print(n)
  n+=1 # increment inside while 

for i in range(0,11):
  print(i)

In [0]:
myInput="start"
while myInput!="stop":
  myInput=input("enter input  ")

In [0]:
n = 10
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter
print("The sum is", sum)

sum1=0
for i in range(1,n+1):
  sum1 = sum1 + i

print("sum1 ",sum1)

In [0]:
counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

In [0]:
for val in "string":
    if val == "i":
        break
    print(val)

print("The end")


val = "string"
i = 0
x=''
while x != 'i':
  print(x)
  x=val[i]
  i=i+1

In [0]:
for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

In [0]:
sequence = {'p', 'a', 's', 's'}
for val in sequence:
    pass

In [0]:
def function(args):
    pass

In [0]:
class Example:
    pass