<a href="https://colab.research.google.com/github/meghasyam/python/blob/master/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

	Multi-paradigm: functional, imperative, object-oriented, structured, reflective
  https://en.wikipedia.org/wiki/Python_(programming_language)

**Installing python**

 1. python distributions (https://www.python.org/downloads/)

 2. anacond disributions (https://www.anaconda.com/distribution/#download-section)
 
 3. online jyputer notebook (https://colab.research.google.com/)

**IDE / Editor** 

1. pycharm
 https://www.jetbrains.com/pycharm/download/download-thanks.html?platform=windows&code=PCC

2. Visual studio Code

In [0]:
a = "Welcome to Python"  #int a , 
b = 23
c = 24.3
d = 'c'

print (a)

python is dynamic typing , you dont need to specify the type. it will find by itself

In [0]:
print(type(a),type(b),type(c))

**KEYWORDS**

False	await	else	import	pass
None	break	except	in	raise
True	class	finally	is	return
and	continue	for	lambda	try
as	def	from	nonlocal	while
assert	del	global	not	with
async	elif	if	or	yield

**Identifiers**

a-z,0-9 ,and underscore_

In [0]:
#1bbbc = "new progres"  identifiers can not start with numbers
abab1 = "new progress"

In [0]:
# if = 1  keywords can not be used for identifiers

**Statements**

In [0]:
a = 1 #single

a = 1 +1 \

# multi
#2

a = [2,  #multi
     3,
     4]

**Identations**

each block seperated by indentations

In [0]:
for i in range(10):
  print(i)

**comments**

In [0]:
# single line comments
""" 
this is multi line commments
"""

In [0]:
def double(num):
    """Function to double the value"""
    return 2*num

double(3)
print(double.__doc__)

**19th April 2020**

In [0]:
# comments - this will  be not part of the program

# nullify - no effect , you write relavant
"""
a= 2
b= 3
c= 4
d= 5
"""
# print(a)

**Variable**

In [0]:
number = 10
name = "venkat"

name = "Ramu"
print(number,name)

basic data type - int , float,bool, character / string

in python , you dont have diffrence between sinle quote ' and double "

In [0]:
number = 10  # integer variable
deci = 10.23 # float variable
bol = True # True / flase
webstie = "apple.com" # string - collection of characters (a,p,p,l,e,.,c,o,m) variable  1 way
anotherWeb = 'yahoo.com' # string variable 2 way


print("integer",number)
print("decimal",deci)
print("boolean",bol)
print("string", website)

# # assigning a new variable to website
# website = "programiz.com"

# print(website)

In [0]:
a, b, c = 5, 3.2, "Hello"

# a=5
# b=3.2
# c="Hello"

print (a)
print (b)
print (c)

In [0]:
PI = 3.4  # capitals
GRAVITY = 9.8

In [0]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

In [0]:
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str =r"raw\n\tstring"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

In [0]:
x = (1 == True)  # true = 1
y = (1 == False) # flase = 0 
a = True + 4  # 1+ 4 = 5
b = False + 10 # 0 + 10 = 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

In [22]:
drink = "Available"
food = None  # null type

print(drink,food)

Available None

In [23]:
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a', 'e', 'u', 'i', 'o'}